{% extends 'games/base.html' %}

{% block content %}

	{% autoescape off %}
	{{ output }}
	{% endautoescape %}
	<div id='game-id'>{{ game_id }}</div>
	<p>
		<div style="display: none;">Target: <span id="pieces"></span></div>
	</p>

	<div id='game-banner'>
		<span>{{ game.white }}</span>
		<img src='/static/images/p/wn.png'>
		<span class="logo-text">dChess</span>
		<img src='/static/images/p/bn.png'>
		<span>{{ game.black }}</span>
	</div>

 	<p>Game: {{ game.description }}</p>
	<p>Turn: {{ game.turn_color }}</p>
	<p>Started: {{ game.start  }}</p>
	<p style="display: none;">Status: {{ game.status }}</p>

{% endblock %}